In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("C:\\Users\\user\\Desktop\\사회문화예술교육 0922.xlsx")

In [5]:
df.drop(['w'], axis=1,inplace=True)

In [7]:
df.dropna(subset=['주체'], inplace=True)

In [9]:
df['주체'].unique()

array(['14. 유통업체 문화센터', '8. 문학관', '17. 방과 후 활동 지원센터', '16. 사회복지시설',
       '15. 청소년활동시설', '12. 평생학습관', '13. 초·중·고·대학(원) 부설 평생교육기관',
       '11. 문화의 집', '10. 지방문화원', '9. 문화예술회관', '7. 박물관, 미술관',
       '6. 도서관(작은 도서관 포함)'], dtype=object)

In [36]:
desired_values = ['7. 박물관, 미술관', '6. 도서관(작은 도서관 포함)']
filtered_df = df[df['주체'].isin(desired_values)]
filtered_df.reset_index(inplace=True)
filtered_df.drop(['index', '구분2(브랜드)', '구분3(시설유형)', '홈페이지', '이메일','기타','연락처2', '연락처3', '통화내용', '조사자'], axis=1, inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_26648\1093987510.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df.drop(['index', '구분2(브랜드)', '구분3(시설유형)', '홈페이지', '이메일','기타','연락처2', '연락처3', '통화내용', '조사자'], axis=1, inplace=True)

In [37]:
filtered_df.head()

,주체,주체.1,구분4(운영형태/설립주체),이름,주소,연락처,사회문화예술교육 비중,정부 지원 비중,기관 총예산,대표자명,...,직영/위탁,"운영주체형태 (국가 / 지방자치단체 / 공기업 / 재단법인(민간기업) / 재단법인(공공정부) / 재단법인(공공-광역지자체) / 재단법인(공공-기초지자체) / 사단법인 / 상법인 / 교육기관(국공립) / 교육기관(사립) / 개인(사업체, 임의단체) / 기타 ( ))",프로그램 수,프로그램 평균 교육생 수,인력 현황 (사:2/주:3/보:0),담당자 이름,휴대폰 번호,이메일.1,컨텍코드,수강료/강사 수/교육생 수/연령대/사무직
0,"7. 박물관, 미술관",서울,국립,국립중앙박물관,서울특별시 용산구 서빙고로 137,02-2077-9000,NaN,NaN,NaN,윤성용,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"7. 박물관, 미술관",서울,국립,국립민속박물관,서울특별시 종로구 삼청로 37,02-3704-3114,NaN,NaN,NaN,윤성용,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"7. 박물관, 미술관",경기,국립,국립민속박물관 파주\n(개방형 수장고 및 정보센터),경기도 파주시 헤이리로 30,031-580-5800,NaN,NaN,NaN,김종대,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
3,"7. 박물관, 미술관",서울,국립,대한민국역사박물관,서울특별시 종로구 세종대로 198,02-3703-9200,NaN,NaN,NaN,`,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"7. 박물관, 미술관",서울,국립,국립한글박물관,서울특별시 용산구 서빙고로 139,02-2124-6200,1,1,100억,김영수,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN

In [30]:
filtered_df.columns

Index(['주체', '주체.1', '구분4(운영형태/설립주체)', '이름', '주소', '연락처', '이메일', '홈페이지', '기타',
       '사회문화예술교육 비중', '정부 지원 비중', '기관 총예산', '대표자명', '설립연월', '직영/위탁',
       '운영주체형태 (국가 / 지방자치단체 / 공기업 / 재단법인(민간기업) / 재단법인(공공정부) / 재단법인(공공-광역지자체) / 재단법인(공공-기초지자체) / 사단법인 / 상법인 / 교육기관(국공립) / 교육기관(사립) / 개인(사업체, 임의단체) / 기타 (              ))',
       '프로그램 수', '프로그램 평균 교육생 수', '인력 현황 (사:2/주:3/보:0)', '담당자 이름', '휴대폰 번호',
       '이메일.1', '컨텍코드', '수강료/강사 수/교육생 수/연령대/사무직'],
      dtype='object')

In [21]:
filtered_df.shape

(2217, 30)

In [70]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2217 entries, 0 to 2216
Data columns (total 21 columns):
 #   Column                                                                                                                                                            Non-Null Count  Dtype
---  ------                                                                                                                                                            --------------  -----
 0   주체                                                                                                                                                                2217 non-null   object
 1   주체.1                                                                                                                                                              2217 non-null   object
 2   구분4(운영형태/설립주체)                                                                                                                                                    2217 non-null   object
 3   이름                                                                                                                                                                2217 non-null   object
 4   주소                                                                                                                                                                2217 non-null   object
 5   연락처                                                                                                                                                               2216 non-null   object
 6   사회문화예술교육 비중                                                                                                                                                       339 non-null    object
 7   정부 지원 비중                                                                                                                                                          336 non-null    object
 8   기관 총예산                                                                                                                                                            402 non-null    object
 9   대표자명                                                                                                                                                              391 non-null    object
 10  설립연월                                                                                                                                                              6 non-null      object
 11  직영/위탁                                                                                                                                                             0 non-null      object
 12  운영주체형태 (국가 / 지방자치단체 / 공기업 / 재단법인(민간기업) / 재단법인(공공정부) / 재단법인(공공-광역지자체) / 재단법인(공공-기초지자체) / 사단법인 / 상법인 / 교육기관(국공립) / 교육기관(사립) / 개인(사업체, 임의단체) / 기타 (              ))  0 non-null      object
 13  프로그램 수                                                                                                                                                            7 non-null      object
 14  프로그램 평균 교육생 수                                                                                                                                                     2 non-null      object
 15  인력 현황 (사:2/주:3/보:0)                                                                                                                                               2 non-null      object
 16  담당자 이름                                                                                                                                                            129 non-null    object
 17  휴대폰 번호                                                                                                                                                            96 non-null     object
 18  이메일.1                                                                                                                                                             143 non-null    object
 19  컨텍코드                                                                                                                                                              593 non-null    float64
 20  수강료/강사 수/교육생 수/연령대/사무직                                                                                                                                            60 non-null     object
dtypes: float64(1), object(20)
memory usage: 363.9+ KB

In [35]:
filtered_df['주소'].isnull().sum()

0

In [62]:
filtered_df_1 = filtered_df[filtered_df['컨텍코드'] == 1.0]
filtered_df_1['컨텍코드'] = filtered_df_1['컨텍코드'].astype(int)

C:\Users\user\AppData\Local\Temp\ipykernel_26648\239858666.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df_1['컨텍코드'] = filtered_df_1['컨텍코드'].astype(int)

In [64]:
filtered_df_1 = filtered_df_1.reset_index(drop=True)

In [66]:
filtered_df_1.head()

,주체,주체.1,구분4(운영형태/설립주체),이름,주소,연락처,사회문화예술교육 비중,정부 지원 비중,기관 총예산,대표자명,...,직영/위탁,"운영주체형태 (국가 / 지방자치단체 / 공기업 / 재단법인(민간기업) / 재단법인(공공정부) / 재단법인(공공-광역지자체) / 재단법인(공공-기초지자체) / 사단법인 / 상법인 / 교육기관(국공립) / 교육기관(사립) / 개인(사업체, 임의단체) / 기타 ( ))",프로그램 수,프로그램 평균 교육생 수,인력 현황 (사:2/주:3/보:0),담당자 이름,휴대폰 번호,이메일.1,컨텍코드,수강료/강사 수/교육생 수/연령대/사무직
0,"7. 박물관, 미술관",서울,국립,국립한글박물관,서울특별시 용산구 서빙고로 139,02-2124-6200,1,1,100억,김영수,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
1,"7. 박물관, 미술관",서울,국립,국립경찰박물관,서울특별시 종로구 송월길 162,02-3150-3681,1,1,1억,양성숙,...,NaN,NaN,NaN,NaN,NaN,조준수,1052256608,junsu9212@police.go.k,1,NaN
2,"7. 박물관, 미술관",서울,국립,국립고궁박물관,서울특별시 종로구 효자로 12,02-3701-7500,1,100,150억,노명구,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
3,"7. 박물관, 미술관",서울,국립,국립기상박물관,서울특별시 종로구 송월길 52,070-7850-8493,1,0,1억,김정희,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
4,"7. 박물관, 미술관",서울,국립,국토발전전시관,서울특별시 중구 정동길 18,02-3425-8900,1,100,20억,안경호,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN